<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header</title>
        <link rel="stylesheet" href="./layout/layout.css">
    </head>
    <body>

        <header th:fragment="header">
            <nav class="nav"></nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./motions">Create motion</a></li>
            </ul>
        </header>
    </body>
</html>