<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="layout/reset.css">
        <link rel="stylesheet" href="layout/layout.css">
        <title>Maker</title>
    </head>
    <body>
        <header th:replace="header :: header"></header>

        <h1 th:text="${maker.firstname + ' ' + maker.lastname}">Firstname and lastname</h1>
        <p th:text="${maker.email}">email</p>

        <h2>Create motion</h2>

        <div>
            <form th:action="@{/makers/{makerId}(makerId=${maker.id})}" method="POST">
               <p>Motionname: <input name="motionname"></input></p>
               <p>Description: <input name="description"></input></p>
               <input type="submit" value="Add"></input>
        </div>   

        <h2>Motions</h2>
          <table>
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Motion's name</th>
                    <th>Description</th>
                </tr>
            </thead>
             <tbody>
                 <tr th:each="motion : ${maker.motions}">
                     <td th:text="${motion.date}">date</td>
                     <td th:text="${motion.motionname}">motionname></td>
                     <td th:text="${motion.description}">description</td>
                 </tr>
            </tbody>
        </table>   
    </body>
</html>