<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:replace="header :: header"></header>

    <h1>Motions</h1>
 
        <!-- <h2>Add new motion</h2>

         <div>
             <form th:action="@{/motions}" method="POST">
                <p>Motionname: <input name="motionname"></input></p>
                <p>Description: <input name="description"></input></p>
                <input type="submit" value="Add"></input>
         </div>    -->
 
        <h2>Current makers</h2>
 
         <ol>
            <li th:each="motion : ${motions}">
                <span th:text="${motion.motionname}">motionname</span>
                  <div th:if="${motion.maker} == null">
                    <p>-- Unassigned. Assign to:</p>
                    <form th:action="@{/motions/{motionId}/makers(motionId=${motion.id})}" method="POST">
                        <select name="makerId">
                            <option th:each="maker : ${makers}" th:value="${maker.id}" th:text="${maker.email}"></option>
                        </select>
                        <input type="submit" value="Assign"/>
                    </form>
                </div> 
 
                <span th:if="${motion.maker} != null">
                    at <span th:text="${motion.maker.email}">maker</span>
                </span> 
            </li>
        </ol> 
</body>
</html>